@import "tailwindcss";
@import "@heroui/styles"; 


@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: #050508;
  color: #f3f4f6;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom scrollbar for visual aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050508;
}

::-webkit-scrollbar-thumb {
  background: #1f1f2e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d44;
}